// Specific CSS for your home-page

.main-container{
  width: 100%;
  // height: calc(100vh - 120px);
  margin-bottom: 50px;
}

.padded-container{
  margin-top: 50px;
}

.overview-icon {
  font-size: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-font {
  font-size: 24px;
}

.home-top {
  margin: 50px;
}

.home-bottom {
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.home-body {
  height: 400px;
  display: flex;
  img {
    width: 55%;
    object-fit: cover;
  }
  .home-body-txt {
    text-align: left;
    vertical-align: middle;
    padding: 75px;
  }
}
