.main-container{
  width: 100%;
  margin-bottom: 50px;
}

.padded-container{
  margin-top: 50px;
}

.overview-icon {
  font-size: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-sm-12, .col-md-5, .col-md-7 {
  padding: 0px;
}

.card-product {
  position: relative;
  overflow: hidden;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  p {
    // font-size: 1.3vw;
    font-size:calc(12px + 0.2vw);
  }
  h1 {
    font-size:calc(12px + 1.8vw);
    // font-size: 3vw;
  }
}

.card-product img {
  height: 100%;
  width: 55%;
  object-fit: cover;
}

.card-product .card-product-infos {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.card-product img:hover {
  opacity: 0.5;
}

.home-top {
  margin: 100px 0 50px 0;
}

.home-bottom {
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.home-body {
  background-color: $light-gray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: auto;
  img {
    max-width: 100%;
    height: auto;
  }
  .row {
    margin: 0 0 -200px 0;
  }
  .home-body-txt {
    text-align: left;
    vertical-align: middle;
    padding: 70px;
    small {
      font-size: 75%;
    }
  }
}

.home-body img:hover {
  opacity: 0.5;
}

#bhavana {
  margin: auto;
}






















// // .container {
// //   position: relative;
// //   width: 100%;
// // }

// // .image {
// //   opacity: 1;
// //   display: block;
// //   width: 100%;
// //   height: auto;
// //   transition: .5s ease;
// //   backface-visibility: hidden;
// // }

// .middle {
//   :hover{

//   // transition: .5s ease;
//   }
//   opacity: 0;
//   position: absolute;
//   // top: 20%;
//   left: 27.5%;
//   // transform: translate(-27.5%, -27.5%);
//   // -ms-transform: translate(-27.5%, -27.5%);
//   text-align: center;
// }

// // .container:hover .image {
// //   opacity: 0.3;
// // }

// .container:hover .middle {
//   opacity: 0.7;
// }

// // .text {
// //   background-color: #4CAF50;
// //   color: white;
// //   font-size: 16px;
// //   padding: 16px 32px;
// // }

// // .middle i {
// //   opacity: 0.0;
// // }

// // .middle:hover i{
// //   opacity: 1;
// // }

// .card-product-infos :hover {
//   i {
//     opacity: 0;

//   }
// }

.i-container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  // backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 27.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#second .middle {
  left: 72.5%;
}

.middle-second {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 72.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.i-container:hover .image {
  opacity: 0.3;
}

.i-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
