<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/bhavanaexperiences/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Bhavanaexperiences/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <p> Made with <i class="fas fa-heart"></i> by Ruby Gains </p>
  </div>
</div>
