<div id="main-banner-contact" class="darken-overlay">
  <div class="darken-overlay">
    <%= render 'shared/navbar' %>
    <div class="main-banner-container">
      <div class="wrapper">
        <<h1><span>BHAVANA EXPERIENCES</span></h1>
      </div>
      <section id="section05" class="demo">
        <a href="#section06"><span></span>contact details</a>
      </section>
    </div>
  </div>
</div>



<section id="section06">
<div class="container contact-container">
  <!-- <div class="inner-content"> -->
    <!-- <div class="contact-details"> -->
      <div class="fa-icon">
        <h2>Contact me</h2><br>
        <div class="orange"><i class="fab fa-whatsapp"></i> +44 7858 951900</div>
        <div class="orange"><i class="fas fa-at"></i> bhavanaexperiences@gmail.com</div>
        <div class="orange"><i class="fab fa-instagram"></i> bhavanaexperiences</div><br><br>
      <!-- </div> -->

    <div class="contact-page d-none d-md-block">
      <div class="home-body">
        <div class="card-product">
           <%= image_tag "ruby.jpg", class: "contact-img" %>
          <div class="card-product-infos">
            <i class="fas fa-quote-left orange "></i>
              <p class="orange"><small>I have been travelling independently since 2010 and through doing so I've grown emotionally, intellectually and, more recently, spiritually. <br>Despite being 9 years into this journey, I often feel like I'm just at the beginning. <br>No matter how much I travel I am always delighted and often speechless when I encounter something new. <br>One of the things that I love most about India is that I am continuously experiencing something new. No two days here are the same.</small></p>
              <p>
                I am not ready to finish my journey and would love to share it with you, whoever you may be.
              </p>
              <i class="fas fa-quote-right orange"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!--  -->
    <div class="d-md-none">
      <!-- <div class="story-content"> -->
        <div class="small-container">
          <%= image_tag "ruby.jpg", class: "contact-img" %><br><br>
          <i class="fas fa-quote-left orange "></i>
          <p class="orange"><small>I have been travelling independently since 2010 and through doing so I've grown emotionally, intellectually and, more recently, spiritually. <br>Despite being 9 years into this journey, I often feel like I'm just at the beginning. <br>No matter how much I travel I am always delighted and often speechless when I encounter something new. <br>One of the things that I love most about India is that I am continuously experiencing something new. No two days here are the same.</small></p>
          <p>
            I am not ready to finish my journey and would love to share it with you, whoever you may be.
          </p>
          <i class="fas fa-quote-right orange"></i>
        </div>
    </div>



  </div>
</section>


