<div id="main-banner" class="darken-overlay">
  <div class="darken-overlay">
    <%= render 'shared/navbar' %>
    <div class="main-banner-container">
      <div class="wrapper">
        <<h1><span>BHAVANA EXPERIENCES</span></h1>
      </div>
      <section id="section05" class="demo">
        <a href="#section06"><span></span>learn more</a>
      </section>
    </div>
  </div>
</div>
