<div class="container">
  <div id="main-banner" class="darken-overlay">
      <div class="darken-overlay">
        <%= render 'shared/navbar' %>
          <div class="main-banner-container">
            <div class="wrapper">
              <h1>Explore India with Ruby
              </h1>
              </div>
            <section id="section05" class="demo">
              <a href="#section06"><span></span>learn more</a>
            </section>
            </div>
      </div>
  </div>
  <div class="content-container">
    <div class="inner-content">
      <div class="contact-details">
        <div>
          <p>I have been travelling independently since 2010 and through doing so I've grown emotionally, intellectually and, more recently, spiritually. Despite being 9 years into this journey, I often feel like I'm just at the beginning. No matter how much I travel I am always delighted and often speechless when I encounter something new. One of the things that I love most about India is that I am continuously experiencing something new. No two days here are the same.</p>
          <p>
            I am not ready to finish my journey and would love to share it with you, whoever you may be.
          </p>
        </div>
        <div><%= image_tag "ruby.jpg", class: "contact-img" %>
        </div>
        <h5>Contact me</h5>
        <div><i class="fab fa-whatsapp"> +44 7858 951900</i></div>
        <div><i class="fas fa-at"></i> bhavanaexperiences@gmail.com</div>
        <div><i class="fab fa-instagram"></i> bhavanaexperiences</div>
      </div>
    </div>
  </div>
</div>
