<div class="index-body">
  <div class="container">
    <h1 class="text-center">Gallery</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="card">
          <%= image_tag "camping.jpeg", height: 350 %>
        </div>
      </div>
    </div>
  </div>
</div>
