<div id="main-banner-home" class="darken-overlay">
  <div class="darken-overlay">
    <%= render 'shared/navbar' %>
    <div class="main-banner-container">
      <div class="wrapper">
        <h1><span>BHAVANA EXPERIENCES</span></h1>
      </div>
      <section id="section05" class="demo">
        <a href="#section06"><span></span>learn more</a>
      </section>
    </div>
  </div>
</div>
<section id="section06">
  <div class="container">
    <div class="info-container">
      <h2>What I Offer</h2>
      <p><small>I organise budget tours to India. Experience the 'Real India' accompanied by one British and one Indian tour guide. I am here to encourage you to step out of your comfort zone without compromising your comfort.</small></p>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="info-card orange">
            <h1><i class="fas fa-plane-arrival"></i></h1>
            <p>Picked up at the airport</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="info-card orange">
            <h1><i class="fas fa-globe-africa"></i></h1>
            <p>Taken on an adventure</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="info-card orange">
            <h1><i class="fas fa-plane-departure"></i></h1>
            <p>Dropped off at the airport</p>
          </div>
        </div>
      </div>
      <div style="margin: 20px 0"><br></div>
      <div class="row">
        <div class="home-body">
          <div class="card-product">
             <%= image_tag "goldentemplenight.jpg" %>
            <div class="card-product-infos">
              <h1 class="orange"><strong>What</strong></h1>
              <p><strong>Bhavana</strong> in the ancient Sanskrit language means to cultivate.<br> I aim to create tours in which you feel <strong>safe</strong> and <strong>comfortable</strong>, so that you can absorb the magic of India.<br> I hope that through experiencing India with me, it will broaden your horizons and cultivate your mind.</p>
            </div>
          </div>
          <div class="card-product">
            <div class="card-product-infos">
              <h1 class="orange"><strong>Why</strong></h1>
              <p>Over the years, many people have been shocked by my <strong>confidence</strong> and even look up to me in awe. Some of the comments I often hear are: <br><br> "How do you do it?!" <br> "You're so <strong>brave</strong>!" <br> "I could never do what you do." <br><br> I want you to hear the same when you get home.</p>
            </div>
             <%= image_tag "taj_people.jpg" %>
          </div>
          <div class="card-product">
             <%= image_tag "goldentemple.jpg", class: "img-fluid" %>
            <div class="card-product-infos">
              <h1 class="orange"><strong>How</strong></h1>
              <p>It's really important to me that I plan a trip that I would also enjoy. <br>So I am not planning tour bus holidays where we will be jumping on and off a bus. <br>We'll be trying to experience <strong>"the real India"</strong> as much as possible - that's why we will be traveling between our destinations by train.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
