<div id="main-banner-home" class="darken-overlay">
  <div class="darken-overlay">
    <%= render 'shared/navbar' %>
    <div class="main-banner-container">
      <div class="wrapper">
        <h1><span>BHAVANA EXPERIENCES</span></h1>
      </div>
      <section id="section05" class="demo">
        <a href="#section06"><span></span>learn more</a>
      </section>
    </div>
  </div>
</div>
<section id="section06">
  <div class="container">
    <div class="info-container">
      <h2>What I Offer</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="info-card orange">
            <h1><i class="fas fa-plane-arrival"></i></h1>
            <p>Picked up at the airport</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="info-card orange">
            <h1><i class="fas fa-globe-africa"></i></h1>
            <p>Taken on an adventure</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="info-card orange">
            <h1><i class="fas fa-plane-departure"></i></h1>
            <p>Dropped off at the airport</p>
          </div>
        </div>
      </div>
      <div style="margin: 20px 0"><br></div>
<!-- Interactive Map goes here -->
      <div class="row">
        <div class="home-body">
          <div class="col-sm-12 col-md-7">
            <%= image_tag "goldentemplenight.jpg" %>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="home-body-txt">
              <h1 class="orange"><strong> WHAT </strong></h1>
              <br>
              <p><small>Bhavana in the ancient Sanskrit language means to cultivate. I aim to create tours in which you feel safe and comfortable, so that you can absorb the magic of India. I hope that through experiencing India with me, it will broaden your horizons and cultivate your mind.</small></p>
            </div>
          </div>
        </div>
        <div class="home-body">
          <div class="col-sm-12 col-md-5">
            <div class="home-body-txt">
              <h1 class="orange"><strong> WHY </strong></h1>
              <br>
              <p><small>Over the years, many people have been shocked by my confidence and even look up to me in awe. Some of the comments I often hear are: <br><br> "How do you do it?!" <br> "You're so brave!" <br> "I could never do what you do." <br><br> I want you to hear the same when you get home.</small></p>
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <%= image_tag "taj_people.jpg" %>
          </div>
        </div>
        <div class="home-body">
          <div class="col-sm-12 col-md-7">
            <%= image_tag "goldentemple.jpg", class: "img-fluid" %>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="home-body-txt">
              <h1 class="orange"><strong> HOW </strong></h1>
              <br>
              <p><small> It's really important to me that I plan a trip that I would also enjoy. So I am not planning tour bus holidays where we will be jumping on and off a bus. We'll be trying to experience "the real India" as much as possible - that's why we will be traveling between our destinations by train. </small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
