<div id="main-banner" class="darken-overlay">
    <div class="darken-overlay">
        <div class="main-banner-container">
          <div class="wrapper">
            <h1>Explore India with Ruby
            </h1>
              <br><br><br><br><br><br>
            </div>
          <section id="section05" class="demo">
            <a href="#section06"><span></span>learn more</a>
          </section>
          </div>
    </div>
</div>
<section id="section06">
  <div class="container">
    <div class="info-container">
      <h3 class="home-font home-top text-center">Want to travel india?</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="info-card">
            <h1><i class="overview-icon fas fa-music"></i></h1>
            <p>placeholder</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="info-card text-center">
            <h1><i class="overview-icon fas fa-check-circle"></i></h1>
            <p>placeholder</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="info-card">
            <h1><i class="overview-icon far fa-comments"></i></h1>
            <p>placeholder</p>
          </div>
        </div>
      </div>
      <h3 class="home-font text-center">Placeholder</h3>
    </div>
  </div>
</section>
