<div id="main-banner-info" class="darken-overlay">
  <div class="darken-overlay">
    <%= render 'shared/navbar' %>
    <div class="main-banner-container">
      <div class="wrapper">
        <h1><span>BHAVANA EXPERIENCES</span></h1>
      </div>
      <section id="section05" class="demo">
        <a href="#section06"><span></span>Important information</a>
      </section>
    </div>
  </div>
</div>
<section id="section06">
  <div class="container">
    <div class="content-container">
      <div class="inner-content">
        <div class="text-box">
          <i class="fas fa-syringe orange icon"></i>
          <h2 class="orange">Jabs</h2>
          <p><small>According to the NHS <a href="https://www.fitfortravel.nhs.uk/destinations/asia-east/india" class="orange">fit for travel</a> website, there are a some vaccinations you need to travel to India*. </small></p>
          <ul class="list-unstyled">
            <li><p><small>all primary courses and boosters for immunisations needed for living in Britain (e.g. MMR)</small></p></li>
            <li><p><small>advised vaccinations: Diphtheria; Hepatitis A; Tetanus; Typhoid</small></p></li>
            <li><p><small>addition vaccinations to consider: Hepatitis A & rabies</small></p></li>
          </ul class="list-unstyled">
          <p><small>I have had all of the above except rabies which I have not had.</small></p>
          <p><small>According to the NHS <a href="https://www.fitfortravel.nhs.uk/destinations/asia-east/india/india-malaria-map" class="orange">fit for travel</a> website, you do not need to take anti-malaria medication in the regions in India covered in my tours.</small></p>
          <p><small><strong>*I am not a medical professional and an appointment with a travel nurse should be arranged at least 6 weeks before travel.</strong></small></p>
        </div>
        <div class="text-box">
          <i class="fas fa-user-md orange icon"></i>
          <h2 class="orange">Staying Healthy</h2>
          <ul class="list-unstyled">
            <li><p><small>When travelling to India you may want to consider purchasing probiotic tablets from a health foods shop. Probiotics help maintain 'friendly' bacteria in the digestive tract which can be useful in fighting against 'unfriendly' bacteria - the bacteria which can cause the dreaded Delhi belly, yeast infections or diarrhea.</small></p></li>
            <li><p><small>Drinking tap water India is not safe. Bottled drinking water is readily available for 20Rupees (approx. 22p) and many restaurant provide purified, filtered drinking water. </small></p></li>
            <li><p><small>Drinking tap water India is not safe. Bottled drinking water is readily available for 20Rupees (approx. 22p) and many restaurant provide purified, filtered drinking water. </small></p></li>
            <li><p><small>It is also recommended to use bottled water for brushing your teeth with. </small></p></li>
            <li><p><small>For a short trip to India its also best to avoid salad which has been rinsed and has water on it and ice cubes. Personally I eat salad and ice cubes but I have been here for a long time so my stomach has adapted.</small></p></li>
            <li><p><small>It's best to chose fruit which have skins which are easy to remove and non-edible - such as bananas, oranges, pineapples etc.</small></p></li>
            <li><p><small>Packing re-hyrdation sachets is highly recommended, they're great for replenishing fluids and electrolytes if you do feel slightly under the weather.</small></p></li>
          </ul>
        </div>
        <div class="text-box">
          <i class="fas fa-globe orange icon"></i>
          <h2 class="orange">Visa Info</h2>
          <ul class="list-unstyled">
            <li><p><small>A visa is required for foreign visitors to India. Tourists from the UK can apply for an e-visa which costs $100 (approx. £78). You can apply for an e-visa online during the window of 120 - 4 days in advance of arrival in India.</small></p></li>
            <li><p><small>Foreign visitors to India are required to have 6 months validity in their passport, 2 blank pages and your passport must be machine readable.</small></p></li>
            <li><p><small>More information regarding Indian e-visas can be found at <a href="https://indianvisaonline.gov.in/visa/index.html" class="orange">indianvisaonline.gov</a>. I'll send a reminder to apply for your visa closer to the time of travel.</small></p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
