<div class="container">
  <div id="main-banner-itinerary" class="darken-overlay">
    <div class="darken-overlay">
      <%= render 'shared/navbar' %>
      <div class="main-banner-container">
        <div class="wrapper">
          <<h1><span>BHAVANA EXPERIENCES</span></h1>
        </div>
        <section id="section05" class="demo">
          <a href="#section06"><span></span>learn more</a>
        </section>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="inner-content">
      <div class="text-box">
        <i class="fas fa-train orange icon"></i>
        <h3 class="orange">India</h3>
        <h5 class="orange">10 day trip to North India, uniting like-minded people over their desire to travel and experience a new country and culture.</h5>
        <p><small>
          Everything that you see on the itinerary is based on my own experiences, we'll be doing things which I have already done and loved. As previously mentioned, we will be travelling by train. The class that we'll travel by is actually very similar to English trains but you'll notice how much more open the people are. Indians are very curious about foreign visitors and are eager to start friendly conversations.
        </small>
        </p>
        <br>
        <br>
        <p><strong>Upcoming Dates</strong></p>
        <p><small>15th September - 25th September 2019</small></p>
      </div>
      <div class="text-box">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="info-card">
              <h1><i class="fas fa-map-marker-alt"></i></h1>
              <p><small>Starting Point</small></p>
              <p><strong>Delhi</strong></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="info-card text-center">
              <h1><i class="far fa-clock"></i></h1>
              <p><small>Duration</small></p>
              <p><strong>10 days</strong></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="info-card">
              <h1><i class="fas fa-rupee-sign"></i></h1>
              <p><small>Price</small></p>
              <p><small><strong>Single Occupancy: 64,800 Rupees (Approx. £720)</strong></p>
              <p><strong>Double Occupancy: 54,000 Rupees per person (Approx. £600pp)</strong></small></p>
            </div>
          </div>
        </div>
        <p><small>Please note that price in British Pounds may vary depending on the exchange rate at the time of payment. The price in Rupees is fixed, pound values are only approximate.
        A £50pp deposit is required to secure a place. Full balance will be due 4 weeks before departure.</small></p>
        <p class= "orange"><strong>Additional Costs</strong></p>
        <p><small>A visa is required to enter India. You'll need an e-visa which costs $100 (£78 approx).
        Return flights are currently around £400 but are likely to increase so early booking is recommended. You are responsible for booking your own flight. Travel insurance is required which can be obtained cheaply from comparison websites such as <a href="https://www.comparethemarket.com/travel-insurance/" class="orange">Compare the Market</a></small></p>
      </div>
      <div class="text-box">
        <p class="orange"><strong>Highlights</strong></p>
        <p><small>Enjoy delicious traditional food, sip hot chai, dip your toes in the River Ganges and try yoga in the world capital of yoga, marvel at world famous landmarks; The Golden Temple and The Taj Mahal, make new friends on the Indian railways, experience Punjabi village life, witness the India-Pakistan border closing ceremony, and much much more.</small></p>
        <p><strong>Day One</strong></p>
        <p><small>Arrival at hotel and sightseeing in Delhi (arrival time dependent)</small></p>
        <p><strong>Day Two</strong></p>
        <p><small>Train ride to Amritsar and an evening tour of The Golden Temple</small></p>
        <p><strong>Day Three</strong></p>
        <p><small>Experience life in a Punjab village and watch the border closing ceremony between India and Pakistan</small></p>
        <p><strong>Day Four</strong></p>
        <p><small>Train ride to Rishikesh and experience the religious Ganga Aarti ceremony on the River Ganges</small></p>
        <p><strong>Day Five</strong></p>
        <p><small>Morning yoga class and then walk to the Beatles Ashram where the Beatles spent time on the 1960s working on their spirituality and music</small></p>
        <p><strong>Day Six</strong></p>
        <p><small>An early wake up call and an hour drive up to a beautiful mountainous sunrise point. After enjoying breakfast with a view, trek down to a waterfall where you can take a refreshing dip</small></p>
        <p><strong>Day Seven</strong></p>
        <p><small>Morning yoga class and then drive to Shivapuri to enjoy the scenery and camp out under the stars</small></p>
        <p><strong>Day Eight</strong></p>
        <p><small>Enjoy the early morning stillness of the mountains and an outdoors yoga class before returning to Rishikesh for a free day</small></p>
        <p><strong>Day Nine</strong></p>
        <p><small>Train ride to Agra and watch the sunset over the River with the Taj Mahal in the distance</small></p>
        <p><strong>Day Ten</strong></p>
        <p><small>Wake up early to see the sun rise over the Taj Mahal and drive back to Delhi for final shopping opportunities. We'll spend our last evening at the sound and light show at the Red Fort</small></p>
        <p><strong>Day Eleven</strong></p>
        <p><small>Departure</small></p>
      </div>

      <div class="map-container">
        <div
          id="map"
        ></div>
<!--      style="width: 100%; height: 400px; overflow: hidden;"
          data-markers="<%#= @markers.to_json %>"
          data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>" -->
      </div><!-- /.map-container -->

      <div class="text-box">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="info-card">
              <h1><i class="fas fa-campground"></i></h1>
              <p><small>Accomodation</small></p>
              <p><strong>Hotel(s)</strong></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="info-card text-center">
              <h1><i class="fas fa-users"></i></h1>
              <p><small>Number of Participants</small></p>
              <p><strong>4 (min) to 8 (max)</strong></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="info-card">
              <h1><i class="fas fa-train"></i></h1>
              <p><small>Transport</small></p>
              <p><strong>Train</strong></p>
            </div>
          </div>
        </div>
        <%= link_to "Travel and Visa", info_path, class: "link" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}" %>
