.footer {
  border-top: solid 1.4px #e4814c;
  border-top-color-opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  flex-shrink: 0;
  margin-top: 100px;
  p {
    margin: 0px;
    color: $orange;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $orange;
  opacity: 0.7;
  text-decoration: none;
  font-size: 26px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
