.info-card {
  padding: 10px;
  color: $orange;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.info-card :hover {
  opacity: 0.8;
  text-decoration: none;
}

.info-card p{
  color: $orange;
}

.info-container {
  align-items: center;
  text-align: center;
}
