.map-container {
  margin: 20px 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

#map {
  width: 600px;
  height: 400px;
  // border: 1px solid;
  margin: auto;
}

#bodyContent {
  width: 50px;
}
