.link {
  color: $orange !important;
}

.orange {
  color: $orange;
}

.black {
  color: $gray;
}

.text-box {
  width: 600px;
  text-align: center;
  padding: 20px 0;
}

.icon {
  font-size: 60px;
}
